/* Glosario Básico */

/* Regla CSS */
h1//Selector (elemento html a quien se le aplican las declaraciones)
	color: #900//Declaración (propiedad: valor)
	text-align: center// Otra declaración

/* Recla CSS */
hr// Selector hr
	border-bottom: 10px solid #900//Una sola declaración

/* Otra Regla CSS */	
p//Otro selector
	color: #666//propiedad: valor
	text-align: justify