body {
	font: 16px Tahoma;
	section.bike {
		height: 200px;
		margin: 50px 0px;
		position: relative;
		width: 350px;
		animation: animBike 8s linear infinite;
		div.frame {
			background: url(../imgs/nomad.png) no-repeat center;
			background-size: cover;
			position: relative;
			height: 100%;
			width: 100%;
			animation: animFrame 0.2s ease-in infinite;
		}
	}
}
@keyframes animFrame {
	0%, 100% { top: 0px; }
	50%      { top: 4px; }
}
@keyframes animBike {
	0%   { left: 0px;   transform: rotateY(0deg)   }
	49%  { left: 800px; transform: rotateY(0deg)   }
	50%  { left: 800px; transform: rotateY(160deg) }
	100% { left: 0px;   transform: rotateY(160deg) }
}