html {
	background-color: #91aa9d;
	background-image: linear-gradient(to right, rgba(0,0,0,0.07) 50%, transparent 0);
	background-size: 180px 100%;
	background-position: center center;
}
	
body{
	section#ventana {
		box-shadow: 0px 0px 12px 0px #333;
		height: 480px;
		margin: 80px auto;
		position: relative;
		overflow: hidden;
		width: 640px;
	}
	div {
		background-position: center center;
		background-repeat: repeat-x;
		position: absolute;
		height: 480px;
		width: 1280px;
	}
	div.cielo {
		animation: 32s animParallax linear infinite;
		background-image: url(../imgs/parallax/back.png);
		z-index: 1;
	}
	div.montanas {
		animation: 16s animParallax linear infinite;
		background-image: url(../imgs/parallax/middle.png);
		z-index: 2;
	}
	div.carretera {
		animation: 8s animParallax linear infinite;
		background-image: url(../imgs/parallax/front.png);
		z-index: 3;
	}
	div.personaje {
	  background-image: url(../imgs/parallax/ghost.png);
	  background-position: center 320px;
	  background-repeat: no-repeat;
	  width: 640px;
	  z-index: 4;
	  animation: 0.5s animGhost ease-in infinite;
	}
}
				
@keyframes animParallax {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: -1280px 0px;
	}
}

@keyframes animGhost {
	0%, 100% {
		top: 0px;
	}
	50% {
		top: -10px;
	}
}
	