* {
	transition: all 0.5s ease-in-out;
}
body {
	background-color: #123771;
	color: #fff;
	font: 16px Arial;
}
section.img {
	background-image: url(../imgs/pepsi01.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 354px;
	margin: 20px auto;
	width: 919px;
}
@media (max-width: 940px) {
	section.img {
		background-image: url(../imgs/pepsi02.png);
		height: 370px;
    	width: 348px;
	}
}
@media (max-width: 520px) {
  section.img  {
    background-image: url(../imgs/pepsi03.png);
    height: 156px;
    width: 162px;
  }
}