doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Nuevos Elementos de Entrada (Formulario)
	body
		h1 Nuevos Elementos de Entrada (Formulario)
		hr

		form
			//- Color
			label Color:
				input(type="color")
			br
			br
			//- Fecha
			label Fecha:
				input(type="date")
			br
			br
			//- Email
			label Correo Electrónico:
				input(type="email")
			br
			br
			//- Mes
			label Mes:
				input(type="month")
			br
			br
			//- Número
			label Número:
				input(type="number")
			br
			br
			//- Rango
			label Rango:
				input(type="range")
			br
			br
			//- Buscar
			label Buscar:
				input(type="search")
			br
			br
			//- Tiempo
			label Tiempo:
				input(type="time")
			br
			br
			//- URL
			label URL:
				input(type="url")
			br
			br
			//- Semana
			label Semana:
				input(type="week")
