doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Gráficos Vectoriales - SVG
	body
		h1 Gráficos Vectoriales - SVG
		hr
		//- - - Cuadrado - - -
		h2 Cuadrado
		svg(width="200" height="200")
			rect(x='10' y='10' width='150' height='150' stroke="black" stroke-width="4" fill='red')
		//- - - Rectangulo - - -
		h2 Rectángulo
		svg(width="300" height="200")
			rect(x='10' y='10' width='250' height='150' stroke="black" stroke-width="4" fill='red')
		//- - - Triangulo - - -
		h2 Triángulo
		svg(width='200' height='200')
			polygon(points='10,180 100,10 190,180' stroke="black" stroke-width="4" fill='red')
		//- - - Circulo - - -
		h2 Círculo
		svg(width="200" height="200")
			circle(cx="100" cy="100" r="80" stroke="black" stroke-width="4" fill="red")
		//- - - Corazon - - -
		h2 Corazón
		svg(width="200" height="120")
			path(d="M120 34.976c0 8.434-3.635 16.019-9.423 21.274h0.048l-31.25 31.25c-3.125 3.125-6.25 6.25-9.375 6.25s-6.25-3.125-9.375-6.25l-31.202-31.25c-5.788-5.255-9.423-12.84-9.423-21.274 0-15.865 12.861-28.726 28.726-28.726 8.434 0 16.019 3.635 21.274 9.423 5.255-5.788 12.84-9.423 21.274-9.423 15.865 0 28.726 12.861 28.726 28.726z" stroke="black" stroke-width="4" fill="red")
		//- - - Texto - - -
		h2 Texto
		svg(width="400" height="200")
			rect(x='10' y='10' width='300' height='100' stroke='black' stroke-width='4' fill='red')
			text(x='120' y='74' fill='white' font-family='Arial' font-size='40') ADSI