body {
  font-size: 16px;
}

article {
  border: 1px solid gray;
}

article.art1 {
  font-size: 1.5em;
  width: 400px;
}

article.art2 {
  font-size: 2em;
  width: 600px;
}

article.art3 {
  font-size: 4ex;
  width: 800px;
}
