section {
  background-color: #aaa;
  font: 16px Tahoma;
  margin-bottom: 10px;
  text-align: center;
}

section.caja1 {
  height: 400px;
  width: 800px;
}

section.caja2 {
  height: 200px;
  width: 200px;
}

section.caja3 {
  height: 400px;
  width: 200px;
}
