main {
  margin: 20px auto;
  width: 684px; }
  main section {
    border: 1px solid gray;
    display: inline-block;
    padding: 10px;
    width: 318px; }
    main section h4 {
      text-align: center; }
    main section div {
      border: 1px solid silver;
      display: inline-block;
      color: silver;
      height: 80px;
      font-size: 2em;
      line-height: 2.5em;
      margin: 10px;
      text-align: center;
      width: 80px; }
  main section.display div.caja5 {
    display: none; }
  main section.visibility div.caja5 {
    visibility: hidden; }
  main div.tipo {
    border: 1px solid gray;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 500px; }
    main div.tipo a {
      border: 1px solid silver;
      margin-bottom: 4px;
      padding: 10px; }
    main div.tipo div {
      border: 1px solid silver;
      color: gray;
      display: block;
      height: 30px;
      font-size: 1em;
      margin: 0px;
      margin-bottom: 12px;
      padding: 10px; }
    main div.tipo div.linea {
      display: inline; }
    main div.tipo a.bloque {
      display: block; }
