section.profundidad {
  height: 300px;
  margin: 20px auto;
  position: relative;
  width: 404px; }
  section.profundidad div {
    border: 2px solid #414386;
    color: #fff;
    font: 4em Arial;
    height: 120px;
    position: absolute;
    text-align: right;
    width: 240px; }
  section.profundidad div.caja1 {
    background-color: #393b77;
    z-index: 3; }
  section.profundidad div.caja2 {
    background-color: #5C5FC5;
    left: 80px;
    top: 60px;
    z-index: 2; }
  section.profundidad div.caja3 {
    background-color: #b6b7ff;
    color: #393b77;
    left: 160px;
    top: 120px;
    z-index: 1; }
