body {
  background-color: #333; }
  body article {
    background-color: #fff;
    padding: 20px;
    margin: 15% auto;
    width: 400px; }
    body article h1 {
      color: #cd6138; }
    body article p {
      color: #777; }
      body article p strong {
        color: #333; }
      body article p span {
        color: #41b256; }
