body {
  font: normal 18px Arial; }
  body p.fw1 {
    font-weight: lighter; }
  body p.fw2 {
    font-weight: normal; }
  body p.fw3 {
    font-weight: bold; }
  body p.fw4 {
    font-weight: bolder; }
  body p.fw5 {
    font-weight: 100; }
  body p.fw6 {
    font-weight: 200; }
  body p.fw7 {
    font-weight: 300; }
  body p.fw8 {
    font-weight: 400; }
  body p.fw9 {
    font-weight: 500; }
  body p.fw10 {
    font-weight: 600; }
  body p.fw11 {
    font-weight: 700; }
  body p.fw12 {
    font-weight: 800; }
  body p.fw13 {
    font-weight: 900; }
  body p.fs1 {
    font-style: normal; }
  body p.fs2 {
    font-style: italic; }
  body p.fs3 {
    font-style: oblique; }
