h1 {
  font-family: Arial;
  text-align: center;
}

section#sprite {
  background: transparent url(../imgs/spriteanim.png) no-repeat;
  height: 257px;
  margin: 20px auto;
  width: 257px;
}

section#sprite.anim1 {
  background-position: 0px 0px;
}

section#sprite.anim2 {
  background-position: -257px 0px;
}

section#sprite.anim3 {
  background-position: -514px 0px;
}

section#sprite.anim4 {
  background-position: -771px 0px;
}

section#sprite.anim5 {
  background-position: -1028px 0px;
}

section#sprite.anim6 {
  background-position: -1285px 0px;
}
