doctype html
html
	head
		title Enlaces
	body
		h1 Enlaces
		hr
		//- Enlaces
		a(href='http://google.com', target='_blank') Ir a Google
		| &nbsp; | &nbsp;
		a(href='http://facebook.com', target='_blank') Ir a Facebook
		| &nbsp; | &nbsp;
		a(href='http://youtube.com', target='_blank') Ir a Youtube