doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		title Anclas
	body
		h1 Anclas
		hr
		a(name='inicio')
		a(href='#parrafo1') Párrafo 1
		br
		a(href='#parrafo2') Párrafo 2
		br
		a(href='#parrafo3') Párrafo 3
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		a(name='parrafo1')
		h2 Párrafo 1
		a(href='#inicio') Ir a Inicio
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		a(name='parrafo2')
		h2 Párrafo 2
		a(href='#inicio') Ir a Inicio
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		a(name='parrafo3')
		h2 Párrafo 3
		a(href='#inicio') Ir a Inicio
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br


