doctype html
html
	head
		meta(charset="utf-8")
		title Lista ordenada (ol)
	body
		h1 Lista ordenada (ol)
		hr
		ol
			li Presionamos CTRL + SHIF + P
			li Escribimos "Package Control"
			li Seleccionamos "Install"
			li Escribimos nombre Paquete Ejemplo:
				ol
					li emmet
					li jquery
					li colorpicker
					li pug
			li Presionamos ENTER