doctype html
html
	head
		meta(charset="utf-8")
		title Imagenes
	body
		h1 Imagenes
		hr
		img(src="imgs/legobatman.jpg")
		img(src="imgs/legobatman.jpg", width="250px", title="LEGO BATMAN")
		img(src="imgs/legobatman.jpg", height="100px")
		hr
		img(src="https://tinyurl.com/z7uocry")
