doctype html
html
	head
		meta(charset="utf-8")
		title Tablas
	body
		h1 Tablas
		hr
		table(border="1")
			tr
				th Nombre
				th Teléfono
				th Dirección
			tr
				td Jeremias Springfield
				td 3001212330
				td Cra 22 - 23
			tr
				td Homero Simpson
				td 3043434212
				td Calle Siempre Viva
			tr
				td Bob Patiño
				td 3169898984
				td Cra 11 - 12
		hr
		br
		table(border="1")
			tr
				td(rowspan="3") X
				td(colspan="3") X
			tr
				td(rowspan="2") X
				td X
				td X
			tr
				td(colspan="2") X
		hr
		br
		table(border="1")
			tfoot
				tr
					td(colspan="2") Usuarios
			thead
				tr
					th Nombre
					th Teléfono
			tbody
				tr
					td Hugo
					td 8876901
				tr
					td Paco
					td 8867689
				tr
					td Luis
					td 8859876
