body {
  font: 16px Arial;
}
body section {
  background-color: #bb3564;
  height: 120px;
  margin: 40px auto;
  width: 260px;
}
body section h2 {
  color: #fff;
  line-height: 5em;
  text-align: center;
}
body section.trans1 {
  transform: translate(200px);
}
body section.trans2 {
  transform: rotate(10deg);
}
body section.trans3 {
  transform: scale(0.4);
}
body section.trans4 {
  transform: skew(20deg);
}
